html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}

input, label {
    float: right;
    margin:5px;
}

.theme-dropdown .dropdown-menu {
  position: relative;
  display: block;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: center;
  margin-top: 135px;
  margin-left:auto;
  margin-right:auto;
}

.navbar .navbar-header {
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .btn-group .btn {
  color: white;
  font-size: 18pt;
  background: linear-gradient(black,gray,black);
}

div.container {
  position: relative;
}

div.page {
  min-height: 100%;
  position: relative;
  height: 100%;
}

div.header {
  margin: 0px;
  padding-top: 10px;
  background-color: #333333;
  height: 175px;
  width: 100%;
}

div.landing {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  background: linear-gradient(gray,silver,white);
  min-height: 70%;
}

div.footer {
  width: 80%;
  margin-top: 10%;
  margin-right:auto;
  margin-left:auto;
  height 20px;
  background-color: gray;
  text-align: center;
  color: black;
  background-position: bottom;
}

div.button {
  text-algin: center;
}

div.header img {
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  display: inline;
}

div.header h2 {
  text-align: center;
  font-size: 60px;
  float: left;
  margin-top: 35px;
  margin-left: 50px;
}

div.navbar {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 20px;
  text-align: center;
  padding-top: 10px;
}

/* Test Stuff */

div.btns {
  text-align: center;
}

.navbar .btns .btn {
  color: white;
  font-size: 18pt;
}

nav.navbar-inverse {
  margin-left: auto;
  margin-right: auto;
}

/*courses test*/

table, td, th {
    border: 1px solid green;
    width: 60%;
}

th {
    background-color: green;
    color: white;
}

/*carousel*/

div.carousel-inner img{
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#googleMap {
    width: 700px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}
