html, body {
  margin: 0px;
  padding: 0px;
  height:100%;
  background: linear-gradient(white, silver);
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-header {
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Cover page css start */
div.header {
  margin: 0px;
  padding-top: 25px;
  height: 120px;
  background-color: #CC0000;
}
div.landing {
  text-align: center;
  padding-top: 100px;
}

div.button {
    text-align: center;
}

div.footer {
    text-align: center;
}
/* Cover page css end */
